body {
    background-image:url(IMAGES/Imagerobot.png);
    background-size: cover;
    }
/* Modification de la taille des boutons */
button {
    margin-top: 30px;
    margin-left: 35px;
} 
/* Espacement des boutons */
.container_button {
    display: flex;  
}
/* Dimensions égales entre le carré de positionnement et la video */
.carrewebcam {
    width: 450px;
    height: 350px;
    background-color: white;
    margin-top: 120px;
}

video {
    display:block;
}

/* Opacité de la section graduelle durant le scroll down */
section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
} */

.removed {
    display: none;
    
}   */
/* Apparence caméra */
.camView {
  position: relative;
  cursor: pointer;
}
/* Apparence texte prédiction */
.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}
/* Apparence carré de prédiction */
.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position:absolute;
  width: 450px;
  height: 350px;
}
/* Dimension du logo entreprise */
.imagenonotaille {
    width: 60px;
}